<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<display-name>SelfStudy</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>co.sr.controller.MainController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<description>Oracle Datasource example</description> <!-- 리소스 설명 -->
		<res-ref-name>jdbc/myoracle</res-ref-name> <!-- 리소스 이름(JNDI) -->
		<res-type>javax.sql.DataSource</res-type> <!-- return type -->
		<res-auth>Container</res-auth> <!-- 관리계층 -->
	</resource-ref>

</web-app>